version: "3.9"

services:

  api:
    build: .
    container_name: fastapi_app
    command: uvicorn core.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - .:/cryipto
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis

  db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_DB: crypto
      POSTGRES_USER: crypto
      POSTGRES_PASSWORD: crypto
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  celery_worker:
    build: .
    container_name: celery_worker
    command: celery -A core.celery_app worker -l info
    volumes:
      - .:/cryipto
    depends_on:
      - api

  celery_beat:
    build: .
    container_name: celery_beat
    command: celery -A core.celery_app beat -l info
    volumes:
      - .:/cryipto
    depends_on:
      - api
      - celery_worker

volumes:
  postgres_data:
